@import "../../../scss/variables.scss";

.mainheader {
  position: fixed;
  width: 100%;
  background-color: $white;
  .nav {
    padding: 16px 24px;
    .list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      .largeNav {
        display: flex;
      }
      .mobileNav {
        display: flex;
        align-items: flex-start;

        button {
          margin-right: 5em;
          font-size: 7px;
        }
      }
      .listItem {
        .logo {
          width: 100px;
          @include tablet {
            width: 180px;
          }
          @include desktop {
            width: 200px;
          }
        }
      }
    }
  }
  .menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $white;
    height: 100vh;
    list-style: none;
    padding: 24px;
    .close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 24px;
      color: #000;
      cursor: pointer;
    }
  }
}
