@import "../../../scss/variables.scss";

.heroContainer {
  padding: 1em;
  padding-top: 85px;

  .logo {
    max-width: 100%;
  }

  .heading {
    padding: 1em;
    font-weight: 300;
    font-size: 20px;

    strong {
      font-weight: 500;
    }
    span {
      color: $woloxGreen;
      font-weight: 600;
    }
  }
  .imageContainer {
    display: flex;
    justify-content: center;

    .heroImage {
      padding-top: 1em;
      width: 150px;
      height: 150px;
    }
  }
}

@include tablet {
  .heroContainer {
    display: flex;
    justify-content: space-around;
    .heading {
      padding: 1em;
      font-weight: 300;
      font-size: 25px;

      strong {
        font-weight: 500;
      }
      span {
        color: $woloxGreen;
        font-weight: 600;
      }
    }
    .imageContainer {
      .heroImage {
        padding-top: 1em;
        width: 280px;
        height: 280px;
      }
    }
  }
}

@include desktop {
  .heroContainer {
    display: flex;
    justify-content: space-around;
    .heading {
      padding: 1em;
      font-weight: 300;
      font-size: 25px;

      strong {
        font-weight: 500;
      }
      span {
        color: $woloxGreen;
        font-weight: 600;
      }
    }
    .imageContainer {
      .heroImage {
        padding-top: 1em;
        width: 280px;
        height: 280px;
      }
    }
  }
}
