@import "../../../scss/variables.scss";
.banner {
  padding-top: 1em;
  @include tablet {
    display: flex;
    justify-content: space-around;
  }
  @include desktop {
    display: flex;
    justify-content: space-around;
  }
  .bannerImage {
    @include tablet {
      height: 300px;
      width: 50%;
    }
    @include desktop {
      height: 320px;
      width: 50%;
    }
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 2em;
    }
    .twitterLogo {
      color: white;
      padding-top: 3em;
      padding-bottom: 1em;
      span {
        margin-left: 7px;
      }
    }
  }

  .bannerText {
    @include tablet {
      height: 300px;
      width: 50%;
    }
    @include desktop {
      height: 320px;
      width: 50%;
    }
    background-color: #f2f5fa;
    font-size: 1.5em;
    font-weight: 400;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.green {
  color: $woloxGreen;
  font-weight: 600;
}

.blue {
  color: $woloxBlue;
  font-weight: 600;
}
